{% extends 'global/decorator.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block serch_bar %}
    {% include 'notes/layout/search_bar.html' %}
{% endblock serch_bar %}
{% block content %}
    <div class="card-note-container">
        {% for note in notes %}
        {% include 'notes/layout/note_card.html' %}
        {% empty %}
        {% include 'notes/layout/empty_page.html' %}
    {% endfor %}
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'notes/js/home.js' %}" type="module"></script>
{% endblock scripts %}