<header class="text-white bg-dark">
    <nav class="container p-3">
        <div class="row">
            <!-- logo section -->
            <div class="col">
                <a href="/">
                    <i class="fa-solid fa-feather-pointed" style="font-size: 6rem;"></i>
                    <h1 class="h1" style="font-size: 6rem; display: inline;"><i>Notes</i></h1>
                </a>
                <h4 class="h4"><i>Get organized, simple as a note.</i></h4>
            </div>
            <!-- dropdown section -->
            <div class="col-2 d-flex align-items-center justify-content-end">
                <div class="dropdown-center" style="font-size: xx-large;">
                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                    <ul class="dropdown-menu" style="font-size: large;">
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-3" href="#">
                                <i class="fa-solid fa-circle-user fa-2x"></i>
                                <span>{{ name }}</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>