<header class="container-header">
    <div class="container">
        <nav class="page-header">
            <!-- logo section -->
            <div class="container-notes-brand">
                <a href="{% url 'notes:home_page'%}" class="notes-brand">
                    <h1><i class="fa-solid fa-feather-pointed"></i> <i>Notes</i></h1>
                </a>
                <h4 class="h4 notes-brand-text">Get organized, simple as a note.</h4>
            </div>
            <!-- dropdown section -->
            {% comment %} <div class="col-2 d-flex align-items-center justify-content-end">
                <div class="dropdown-center" style="font-size: xx-large;">
                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                    <ul class="dropdown-menu" style="font-size: large;">
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-3" href="#">
                                <i class="fa-solid fa-circle-user fa-2x"></i>
                                <span>{{ name }}</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div> {% endcomment %}
        </nav>
    </div>
</header>