<div class="card-note-cell">
    <div class="card-note">
        <div class="card-image">
            {% if note.card_cover %}
            <img src="{{note.card_cover.url}}" alt="card-cover" class="card-img">
            {% endif %}
        </div>
        <div class="card-description">
            <h1 class="card-note-title">{{note.title}}</h1>
            <p>{{note.description}}</p>
            <!-- note infos -->
            <div class="card-info">
                <!-- creator info -->
                <div class="info-creator">
                    <i class="fa-solid fa-user"></i>
                    <span>{{note.author}}</span>
                </div>
                <!-- created_at info -->
                <div class="info-created-at">
                    <i class="fa-solid fa-calendar"></i>
                    <span>{{note.created_at|date:"d/m/Y"}} às {{note.created_at|date:"H:i"}}</span>
                </div>
                <!-- preview tags info-->
                <div class="info-tags">
                    {% if note.tags.all %}
                    <i class="fa-solid fa-tags"></i>
                    <div class="container-tags">
                        {% for tag in note.tags.all %}
                        <a href="{% url 'notes:tag_page' tag.id %}" class="tag">{{tag.name}}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- view more button -->
            <a class="card-view-more" href="{% url 'notes:note_details' note.id %}">
                <button>See more</button>
            </a>
        </div>
    </div>
</div>
