:root {
    --color-tansparent: rgba(0, 0, 0, 0);    
    --color-light: rgb(255, 255, 255);
    --color-light-50: rgb(255, 255, 255, 0.5);
    --color-dark:  rgb(33, 37, 41);
    --color-dark-20:  rgba(33, 37, 41, 0.2);
    --color-dark-80:  rgba(33, 37, 41, 0.8);
    --color-blue:  rgb(13, 110, 253);
    --color-blue-10:  rgba(13, 109, 253, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
}

.upper-content {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: min-content;
}

.container-content {
    position: relative;
}

/*========= HEADER STYLES ========*/
.container-header {
    width: 100%;

    background: var(--color-dark);
    padding-block: 0.5rem;
}

.container-header .page-header {
    height: 7rem;
}

/*========= HEADER BRAND STYLES ========*/
.container-notes-brand{
    width: fit-content;
    height: 7rem;

    color: var(--color-light);
}

.notes-brand {
    height: 70%;

    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 1rem;

    color: var(--color-light);
}

.notes-brand i{
   font-size: 4rem;
}

.notes-brand h1 {
    font-size: 4.5rem;
    display: inline;
}

.notes-brand-text {
    height: 30%;
    font-size: 1.2rem;
    text-align: center;
}