:root {
    --color-tansparent: rgba(0, 0, 0, 0);    
    --color-light: rgb(255, 255, 255);
    --color-light-50: rgb(255, 255, 255, 0.5);
    --color-dark:  rgb(33, 37, 41);
    --color-dark-20:  rgba(33, 37, 41, 0.2);
    --color-dark-80:  rgba(33, 37, 41, 0.8);
    --color-blue:  rgb(13, 110, 253);
    --color-blue-10:  rgba(13, 109, 253, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
}
